@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom animation saat scroll dari kiri dan kanan --- */
.hidden-left {
  opacity: 0;
  transform: translateX(-50px);
}
.hidden-right {
  opacity: 0;
  transform: translateX(50px);
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
